.savingsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: #f9f9f9; */
}

.savingsBox .image-container {
    /* flex: 1; */
    background-color: #F1FFF9;
    padding: 10px;
    border-radius: 10px;
    /* background-color: #F1FFF9; */
}