.financial {
    display: flex;
    align-items: center;
    justify-content: center;
}

.financial-container {
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.financial .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.financial img {
    width: 25%;
}

.financial h2 {
    font-size: 3rem;
    /* line-height: 1.5; */
}

.financial p {
    font-size: 18px;
}